

.about1 {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #094088;
    color: #f0f0f0;
    background-image: url(../assets/q.png);
  }

.about1 h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: #ffffff;
    height: 50px;
  }


  .about1 p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #ffffff;
    height: 40px;
  }
