.suport1 {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #094088;
    color: #f0f0f0;
    background-image: url(../assets/q.png);
  }

.suport1 h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #ffffff;
    height: 50px;
  }

  .suport1 p{
    margin-top: 150px;
    font-size: 50px;
  }


.suport1 svg {
    color: white;
    font-size: 100px;
    cursor: pointer;
  }
